body {
  font-family: 'Optima', 'Times New Roman', 'STSong', 'Noto Serif SC', 'Microsoft YaHei', serif;
}

.highlight {
  font-family: "Monaco", "Consolas", monospace;
  font-size: 80%;
}

.site-title {
  font-size: 2.4em;
}

nav {
  font-size: 1.1em;
}