body {
  margin: 0 auto;
  padding: 1em;
  line-height: 1.5;
  background: #fff;
  max-width: 80ch;
  text-align: justify;
  text-justify: inter-ideograph;
}

a {
  color: #258852;
  text-decoration: none;
}

img {
  max-width: 100%;
}

th,
td {
  padding: 5px 10px;
  border-bottom: 2px solid #ddd;
}

/* header and footer areas */
.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
}

.article-meta,
.menu a {
  text-decoration: none;
  padding: 5px;
}

.title {
  font-size: 1.1em;
}

footer a {
  text-decoration: none;
}

hr {
  border-style: dashed;
  color: #ddd;
}

.page-list {
  list-style-type: decimal-leading-zero;
}

.page-list li {
  padding: 5px;
}

.chroma {
  overflow-x: scroll;
  border-radius: 10px;
  font-family: ui-monospace, Menlo, Consolas, monospace;
}

blockquote {
  border-left: 3px solid #258852;
  padding: 0 1.4em;
  color: #666;
  margin: 0 2px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}

#content {
  position: relative;
}

aside {
  width: 25%;
  right: 100%;
  text-align: justify;
  position: absolute;
  padding-right: 1em;
  color: #888;
}

aside>p {
  padding-top: 1px;
  margin-top: 0px;
  font-size: 80%;
}

@media screen and (max-width: 80ch) {
  aside {
    font-size: 80%;
    position: relative;
    margin: 0.5em 0 0.5em auto;
    padding: 0.2em 0.2em;
    right: 0;
    text-align: left;
    width: initial;
    max-width: 75%;
  }

  aside>p {
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}

mark {
  background-color: #cfb8;
  color: #000;
}