body {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 1em;
  line-height: 1.5;
  background: #f6f6f6;
  max-width: 50em;
  text-align: justify;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

th,
td {
  padding: 5px 10px;
  border-bottom: 2px solid #ddd;
}
/* header and footer areas */
.menu {
  padding: 0;
}
.menu li {
  display: inline-block;
}
.article-meta,
.menu a {
  text-decoration: none;
  padding: 5px;
}
.title {
  font-size: 1.1em;
}
footer a {
  text-decoration: none;
}
hr {
  border-style: dashed;
  color: #ddd;
}

.page-list {
  list-style-type: decimal-leading-zero;
}

.page-list li {
  padding: 5px;
}
